<div [formGroup]="formGroup" style="padding: 15px">
  <ng-container *ngFor="let field of fields, index as keyParent">
    <label *ngIf="isSet('label', field)">
      {{keyParent + 1}}.
      <ng-container [ngTemplateOutletContext]="{label: getValue('label', field)}"
                    [ngTemplateOutlet]="translateLabel" />
    </label>
    <br>
    <ng-container *ngIf="!isSet('group', field) && !isSet('array', field)">
      <div style="padding: 15px">
        <app-input
          [isTranslate]="true"
          [type]="getValue('inputType', field)"
          [messageErrors]="getValue('messageErrors', field, [])"
          [formControlName]="getValue('name', field)" />
        {{getValue('messageErrors', field, []) | json}}
      </div>
    </ng-container>

    <ng-container *ngIf="isSet('group', field)">
      <form-template [formGroupRecursive]="getFormGroup(getValue('name', field))"
                     [isTranslate]="isTranslate"
                     [fields]="getValue('group', field)" />
    </ng-container>

    <ng-container *ngIf="isSet('array', field)">
      <div [formArrayName]="getValue('name', field)"
           *ngFor="let control of getValue('array', field, []), index as keyChild">
        <div [formGroupName]="keyChild"  >
          <div style="padding: 15px" *ngIf="isSet('group', control)">
            {{keyChild + 1}}.&nbsp;
            <ng-container [ngTemplateOutletContext]="{label: control.label}"
                          [ngTemplateOutlet]="translateLabel" />
            <form-template
              [isTranslate]="isTranslate"
              [formGroupRecursive]="getFormArray(getValue('name',field), keyChild)"
              [fields]="getValue('group', control)" />
          </div>

          <div *ngIf="!isSet('group', control)" style="padding: 15px" >
            <label *ngIf="isSet('label', control)">
              {{keyChild + 1}}.
              <ng-container [ngTemplateOutletContext]="{label: getValue('label', control)}"
                            [ngTemplateOutlet]="translateLabel" />
            </label>
            <ng-container [ngTemplateOutlet]="formControl"
                          [ngTemplateOutletContext]="{
                        formControl: getFormControl(getValue('name', field), keyChild),
                        type: getValue('inputType', field),
                        keyChild,
                        messageErrors: getValue('messageErrors', field, [])
                       }" />
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #formControl
             let-formControl="formControl"
             let-keyChild="keyChild"
             let-type="type"
             let-messageErrors="messageErrors">
  <div style="display: flex; align-items: center">
    <span>{{keyChild + 1}}.&nbsp;</span>
    <app-input
      [formControl]="formControl"
      [type]="type"
      [isTranslate]="true"
      [messageErrors]="messageErrors"/>
  </div>
</ng-template>

<ng-template #translateLabel let-label="label">
  <span *ngIf="isTranslate">
    {{label | asyncTranslate | async}}
  </span>
  <span *ngIf="!isTranslate">
    {{label}}
  </span>
</ng-template>
