<br>
<br>
<button (click)="changeTab(tab.language)"
        *ngFor="let tab of tabs" type="button"
        [ngClass]="{'btn-secondary': tab.language !== editorOptions.language, 'btn-info': tab.language === editorOptions.language}"
        class="btn">
  {{tab.title}}
</button>
<button (click)="run()" class="btn-info btn ml-5 mb-1">
  Run
</button>
<div class="d-flex">
  <div class="w-50">
    <ng-container *ngFor="let tab of tabs">
      <ngx-monaco-editor  *ngIf="tab.language === editorOptions.language"
                          style="height: 100vh; width: 100%"
                          [options]="editorOptions" [(ngModel)]="tab.code" />
    </ng-container>
  </div>
  <div class="w-50 card" #view></div>
</div>
