<br>
<div class="mini-game mt-4">
  <div type="text" class="item-grid" id="numberOne" >{{(result$ | async)?.numberOne}}</div>
  <div type="text" class="item-grid" id="numberTwo" >{{(result$ | async)?.numberTwo}}</div>
  <div type="text" class="item-grid" id="numberThree" >{{(result$ | async)?.numberThree}}</div>
  <div type="text" class="item-grid" id="numberFour" >{{(result$ | async)?.numberFour}}</div>
  <div type="text" class="item-grid" id="numberFive" >{{(result$ | async)?.numberFive}}</div>
  <div type="text" class="item-grid" id="numberSix" >{{(result$ | async)?.numberSix}}</div>
  <div type="text" class="item-grid" id="numberSeven" >{{(result$ | async)?.numberSeven}}</div>
</div>
<button class="ml-3" (click)="handleClick()">Demo</button>
<button class="ml-3" (click)="handleSubmit()">submit</button>
