.mini-game{
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 3px;
  & .item-grid {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid;
  }


}
