<!--<input-->
<!--  class="form-control"-->
<!--  type="text"-->
<!--  mwlFlatpickr-->
<!--  (change)="handleChangeValue($event)"-->
<!--  [enableTime]="enableTime"-->
<!--  [convertModelValue]="convertModelValue"-->
<!--  [dateFormat]="formatDate"-->
<!--  [mode]="mode"-->
<!--  >-->

<!--<div *ngIf="messageValidates" class="text-danger">-->
<!--  <ng-container *ngFor="let err of messageValidates">-->
<!--    <div *ngIf="control.invalid && (control.dirty || control.touched) && control.hasError(err.type)">-->
<!--      {{err.message}}-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->

<!--&lt;!&ndash;Tài liệu cài đặt thư viện => https://www.npmjs.com/package/angularx-flatpickr#documentation&ndash;&gt;-->
<!--&lt;!&ndash;Tại liệu cấu hình => https://github.com/mattlewis92/angularx-flatpickr/blob/main/projects/demo/app/demo.component.ts&ndash;&gt;-->
<!--&lt;!&ndash;Trang chủ => https://flatpickr.js.org/examples/#time-picker&ndash;&gt;-->
