<div class="w-100">
  <table class="data-table">
    <thead>
    <tr>
      <th *ngIf="isCheckBox">
        <input [checked]="isChecked" type="checkbox" (change)="handleCheckAll()">
      </th>
      <th *ngFor="let column of columns">
        {{column.title}}
      </th>
      <th *ngIf="actions.length > 0">
        Thao tác
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data, let i = index">
      <td *ngIf="isCheckBox">
        <input type="checkbox" >
      </td>

      <td  *ngFor="let cell of row.render">
        <span [innerHTML]="cell.view" *ngIf="!cell.action"></span>
        <a href="javascript:;" [innerHTML]="cell.view" *ngIf="cell.action" class="pointer"  (click)="cell.action(row, i)"></a>
      </td>
      <td *ngIf="actions.length > 0">
        <button *ngFor="let action of actions"
                (click)="action.action(row, i)" [class]="action.className">
          <span core-icon [type]="action.icon"></span>
          <span class="ml-2">{{action.label}}</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
