:root{
  --background-table:  #9fcdff
}

.data-table , th, td {

}
.data-table {
  width: 100%;
  & thead {
    & tr {
      background: #9fcdff;
      & th {
        padding: 13px 0;
      }
    }
  }

  & th, & td {
    border: 1px solid black;
    border-collapse: collapse;
  }

}

.pointer{
  cursor: pointer;
}
