<a [routerLink]="['../']" [queryParams]="{debug: true}" fragment="education">
  form user
</a>
<p>{{storeBase.currentUser | json}}</p>

<h3>
  {{user.full_name | async}}
  <br>
  {{user.email | async}}
</h3>

<button (click)="handleOpen()">
  open dialog
</button>

<form-template [fields]="fields" [formGroupRecursive]="formData"/>
