<ng-container [ngSwitch]="type">
  <input *ngSwitchDefault
         [type]="type"
         [value]="valueInput"
         class="form-control"
         (blur)="handleChangeValue($event)"
         (keyup)="handleChangeValue($event)"
         (click)="handleChangeValue($event)"
         (focus)="onTouched()"
         [disabled]="disabled">

  <input *ngSwitchCase="'range'"
         [type]="type"
         [min]="minRange"
         [max]="maxRange"
         [value]="valueInput"
         class="form-control"
         (change)="handleChangeValue($event)"
         (focus)="onTouched()"
         [disabled]="disabled">


  <label class="container" *ngSwitchCase="'checkbox'">
    <input [type]="type"
           [value]="valueInput"
           class="form-control"
           (change)="handleChangeCheckBox()"
           (focus)="onTouched()"
           [disabled]="disabled">
    <span class="checkmark"></span>
  </label>
</ng-container>

<div *ngIf="messageErrors" class="text-danger">
  <ng-container *ngFor="let err of messageErrors">
    <div
      *ngIf="control.invalid && (control.dirty || control.touched) && (control.hasError(err.type) || (type && control?.errors?.[type]))">
      <span *ngIf="isTranslate">
        {{err.message | asyncTranslate | async}}
      </span>
      <span *ngIf="!isTranslate">
        {{err.message}}
      </span>
    </div>
  </ng-container>
</div>
