<ng-container *ngFor="let control of fields, index as keyParent">
  <div >
    <label *ngIf="isSet('label', control)">
      {{keyParent + 1}}.
      <ng-container [ngTemplateOutletContext]="{label: getValue('label', control)}"
                    [ngTemplateOutlet]="translateLabel" />
    </label>

    <br>
    <ng-container *ngIf="!isSet('group', control) && !isSet('array', control)">
      <div style="padding: 15px">
        <app-input
          [type]="getValue('inputType', control)"
          [messageErrors]="getValue('messageErrors', control, [])"
          [formControl]="getControl(keyParent)" />
      </div>
    </ng-container>

    <ng-container *ngIf="isSet('group', control)">
      <div style="padding: 15px">
        <form-template
          [formGroupRecursive]="getFormGroup(keyParent)"
          [fields]="getValue('group', control)"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="isSet('array', control)">
      <template-form-array
        [formArrayRecursive]="getFormArray(keyParent)"
        [fields]="getValue('array', control)"
      />
    </ng-container>
  </div>
</ng-container>

<ng-template #translateLabel let-label="label">
  <span *ngIf="isTranslate">
    {{label | asyncTranslate | async}}
  </span>
  <span *ngIf="!isTranslate">
    {{label}}
  </span>
</ng-template>
