<div [formGroup]="formGroup" style="padding: 15px">
  <ng-container *ngFor="let field of fields, index as keyParent">
    <ng-container *ngIf="field.name">
      <label >{{keyParent + 1}}.
         <ng-container [ngTemplateOutletContext]="{label: field.label}"
                      [ngTemplateOutlet]="translateLabel" />
      </label>
      <br>
      <ng-container *ngIf="!field.typeForm && !field?.dataForm">
        <div style="padding: 15px">
          <app-input
            [type]="field.inputType"
            [messageErrors]="field.messageErrors"
            [formControlName]="field.name" />
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="field.dataForm">
      <ng-container *ngIf="field.typeForm === 'form-group' && field.name">
        <app-form-recursive [formGroupRecursive]="getFormGroup(field.name)" [fields]="field.dataForm" />
      </ng-container>

      <ng-container *ngIf="field.typeForm === 'form-array' && field.name">
        <div [formArrayName]="field.name" *ngFor="let control of field.dataForm, index as keyChild">
          <div [formGroupName]="keyChild" *ngIf="control.name && control.dataForm" >
            <div style="padding: 15px">
              {{keyChild + 1}}.&nbsp;
              <ng-container [ngTemplateOutletContext]="{label: control.label}"
                            [ngTemplateOutlet]="translateLabel" />
              <app-form-recursive
                [isTranslate]="isTranslate"
                [formGroupRecursive]="getFormGroup(field.name, control.name, keyChild)"
                [fields]="control.dataForm" />
            </div>
          </div>

          <div [formGroupName]="keyChild" *ngIf="!control.name" style="padding: 15px">
            <div style="display: flex; align-items: center">
              <span>{{keyChild + 1}}.&nbsp;</span>
              <app-input
                [formControl]="getFormControl(field.name, keyChild)"
                [type]="field.inputType"
                [messageErrors]="field.messageErrors"/>
            </div>
          </div>

        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #translateLabel let-label="label">
  <span *ngIf="isTranslate">
    {{label | asyncTranslate | async}}
  </span>
  <span *ngIf="!isTranslate">
    {{label}}
  </span>
</ng-template>
