<div class="mt-5 p-4">
  <input type="file" accept="*/video" (change)="handleFileUpload($event)">
  <ng-container *ngIf="!loaded && videoURL$.getValue() !== ''">
   <div class="w-100">
     <video style="width: 100%" src="{{ videoURL$ | async }}" controls></video>
   </div>
  </ng-container>
  <ng-container *ngIf="loaded">
    <div class="py-3">
      <span class="loader"></span>
    </div>
  </ng-container>

  <p>{{ message$ | async }}</p>

</div>
