.overlay-pane-class {
  background-color: #fff; /* Màu nền */
  border: 1px solid #ccc; /* Viền */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Đổ bóng */
  padding: 20px; /* Khoảng cách nội dung */
  max-width: 400px; /* Chiều rộng tối đa */
}
