<div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
  <a [routerLink]="['/form-user']" [queryParams]="{debug: true}" fragment="education">
    - form group bad
  </a>

  <a [routerLink]="['/form-group']" [queryParams]="{debug: true}" fragment="education">
    - form group
  </a>

  <a [routerLink]="['/form-array']" [queryParams]="{debug: true}" fragment="education">
    - form-array
  </a>

  <a [routerLink]="['/form-user']" [queryParams]="{debug: true}" fragment="education">
    - form-user
  </a>

  <a [routerLink]="['/compressor-image']" [queryParams]="{debug: true}" fragment="education">
    - compressor image
  </a>
  <a [routerLink]="['/decorator']" [queryParams]="{debug: true}" fragment="education">
    - decorator
  </a>
  <a [routerLink]="['/draw-flow']" [queryParams]="{debug: true}" fragment="education">
    - draw flow
  </a>
  <a [routerLink]="['/manaco']" [queryParams]="{debug: true}" fragment="education">
    - manaco
  </a>
  <a [routerLink]="['/signal']" [queryParams]="{debug: true}" fragment="education">
    - singal
  </a>
  <a [routerLink]="['/mini-game-lucky']" [queryParams]="{debug: true}" fragment="education">
    - mini-game-lucky
  </a>

  <a [routerLink]="['/ngrx']" [queryParams]="{debug: true}" fragment="education">
    - rxjs
  </a>

  <a [routerLink]="['/user-table']" [queryParams]="{debug: true}" fragment="education">
    - table
  </a>
</div>

<br>

<button (click)="handleChangeLang(item.lang)" *ngFor="let item of languages" >
  <img [src]="item.flag" alt="" style="width: 12px; height: 12px" />
  {{item.label}}
</button>

<!--<nav>-->
<!--  <button type="button" (click)="toggle()">Toggle Open/Close</button>-->
<!--</nav>-->

<!--<div [@openClose]="{value: animationState, params: {timing: 2, height: '200px'}}" >-->
<!--  &lt;!&ndash;<div  [@openClose]="isOpen ? 'open' : 'closed'" >&ndash;&gt;-->
<!--  <p>The box is now {{ animationState }}!</p>-->
<!--</div>-->


<router-outlet/>


