:host {
  display: block;
  margin-top: 1rem;
}

/*.open-close-container {*/
/*  border: 1px solid #dddddd;*/
/*  margin-top: 1em;*/
/*  padding: 20px 20px 0px 20px;*/
/*  color: #000000;*/
/*  font-weight: bold;*/
/*  font-size: 20px;*/
/*}*/
