<div class="col-md-12">
  <div class="dropzone kt-margin-t-20" id="dropzone-album" (click)="chooseFile('files')">
    <div class="kt-dropzone__msg dz-message needsclick">
      <input hidden  (change)="onChangeFile($event)" type="file" id="files" class="form-control kt-hidden" name="image_album[]" multiple accept=".jpg,.gif,.jpeg,.png,.mp4, .m4v">
      <div class="h4 file-name-for-attach-file file-box" ><i class="fa fa-cloud-upload-alt"></i>
        upload image, video
      </div>
      <span class="">Chỉ cho phép đuôi <b>JPG</b>, <b>PNG</b>, <b>GIF</b>, <b>.MP4</b>...</span>
    </div>
  </div>
</div>

<!--<img [src]="url$ | async" alt="" style="width: 100%; height: 100%">-->
<img ngSrc="{{url$ | async}}" alt=""  width="400" height="200" sizes="(max-width: 768px) 100vw, 50vw" priority >
