<!--<label>template form</label>-->
<app-input type="text"
                 [messageErrors]="fields[0].messageErrors"
                 required minlength="3" maxlength="8"
           [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />


<a [routerLink]="['/info']" [queryParams]="{debug: true}" fragment="education">
  {{dataStore | async | json}}
</a>

<!--<h1>-->
<!--  {{'users.title' | translate}}-->
<!--</h1>-->


<!--<app-form-recursive-->
<!--  [isTranslate]="true"-->
<!--  [formGroupRecursive]="formGroup"-->
<!--  [fields]="fields" />-->

<!--<br>-->

<button style="background: #2196F3" (click)="handleSubmit()">
  <span core-icon type="exam-icon" style="color: #cccccc" size="20"></span>
  {{'buttons.btn_add_up_low' | translate}}
</button>
<br>


