<button (click)="editor.changeModule('Home');" class="selected">Home</button>
<button (click)="editor.changeModule('Other');">Other Module</button>
<br>
<div #drawFlow style="width: 100%; height: 100vh; background: #9fcdff"></div>
