@import 'ngx-toastr/toastr';
.dark-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Màu nền với độ mờ */
}

/*.overlay-pane-class {*/
/*  background-color: #fff; !* Màu nền *!*/
/*  border: 1px solid #ccc; !* Viền *!*/
/*  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); !* Đổ bóng *!*/
/*  padding: 20px; !* Khoảng cách nội dung *!*/
/*}*/
